$deepBlue: #1f5afc;
$boxShadow: 2px 2px 4px rgb(90, 90, 90);
$bgOpacity: rgba( 220, 220, 220, 0.3 );

.detail-box {

    .detail-memo {
        display: flex;
        flex-direction: column;
        margin: 12px;
        min-height: 746px;
        border-radius: 8px;
        background: #d7ffd9;
        box-shadow: $boxShadow;

        .detail-hash {
            display: inline-block;
            align-self: center;
            width: 94%;
            height: 48px;
            margin: 8px 0;
            padding: 4px 12px;
            line-height: 48px;
            font-size: 22px;
            font-weight: 600;
            border-bottom: 2px solid black;
            // background-color: $bgOpacity;
            // border-radius: 16px;
            // border: white solid 4px;
        }
        
            .detail-content {
                padding: 8px;
                margin: 0 12px;
                padding-bottom: 8px;
                border-bottom: 1px solid darkgray;
                white-space: pre-wrap;
            }

        .detail-add-btn, .detail-edit-btn {
            display: block;
            margin: 6px auto;
            width: 80px;
            height: 32px;
            background: $bgOpacity;
            border: none;
            border-radius: 32px;
        }


    }
}