.detail-box {
    margin: 4px auto;
    width: 95%;
    border-radius: 8px;
    background: cornsilk;

    .detail-memo {
        padding: 4px;
        margin: 4px 0;
        background: rgb(248, 246, 236);
        box-shadow: 2px 2px 2px darkgray;
        border-radius: 4px;
    }
}