$deepBlue: #1f5afc;

.detail-box {
    display: flex;
    flex-direction: column;
    margin: 6px;
    // width: 98%;
    border-radius: 8px;
    background: cornsilk;

    .detail-hash {
        display: inline-block;
        align-self: center;
        width: 90%;
        height: 48px;
        margin: 8px;
        padding: 4px 12px;
        line-height: 48px;
        font-size: 22px;
        font-weight: 600;
        // color: white;
        background-color:  rgba( 100, 100, 100, 0.15 );
        border-radius: 16px;
        // border: white solid 4px;
    }
    .detail-memo {

        .detail-content {
            padding: 4px;
            margin: 4px 12px;
            padding-bottom: 8px;
            border-bottom: 1px solid darkgray;
            background: cornsilk;
            // background: rgb(248, 246, 236);
            // box-shadow: 2px 2px 2px lightgray;
            // border-radius: 4px;
            white-space: pre-wrap;
        }
    }

    .detail-add-btn {
        display: block;
        margin: 6px auto;
        width: 48px;
    }


}