$boxShadow: 1px 1px 6px lightgray;

li {
    list-style: none;
}

.grid-box {
    display: flex;
    align-items: flex-start;
    justify-self: center;
    width: 100%;
    margin: 8px auto;
    // padding: 4px
    // max-width: 767px;

}
.grid-memo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // flex-wrap: wrap;
    // justify-content: center;
    
}

.grid {
    // display: inline-block;
    padding: 4px;
    margin: 4px;
    padding: 8px;
    // width: 100%;
    max-width: 356px;
    height: 180px;
    background: cornsilk;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: $boxShadow;
    
    span {
        font-size: 24px;
    }
    
    li {
        width: 95%;
        max-height: 45px;
        margin: 4px 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid darkgray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width:768px) {
    .grid-memo {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1200px) {
    .grid-memo {
        grid-template-columns: repeat(4, 1fr);
    }
}

