$mainColor: rgb(71, 71, 71);;
$cottenWhite: #fff7f2;
$boxShadow: 1px 1px 4px rgb(99, 99, 99);

.list-box {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // background: rgb(200, 225, 250);
}

@mixin hashForm {
    max-width: 64px;
    min-width: 60px;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
    background: cornsilk;
    overflow: hidden;
    white-space: nowrap; // 이게 있어야 문자를 1줄로 쭉 보여줘서, ...처리가 된다.
    text-overflow: ellipsis;
}
@mixin scrollHidden {
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
@mixin fixedCenter {
    // 중앙정렬
    position: fixed;
    top: 50%;
    left: 50%;
    background: blue;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@mixin modal_border {
    align-self: center;
    border-width: 2px;
    border-radius: 3px;
    border-color: $mainColor;
}



.list-memo {
    display: flex;
    flex-direction: column; // 이게 있어야 옵션 아래 가능
    padding: 4px;
    margin: 0 ;
    width: 90%;

    .list-main {
        display: flex;
        justify-content: flex-end;

        .option-checkbox {
            margin-right: auto;
        }

        .memo-hash {
            @include hashForm;
            display: inline-block;
            align-self: flex-end;
            justify-self: flex-start;
            margin: 8px 4px 0;
            box-shadow: $boxShadow;
        }

        .memo-content {
            padding: 4px 8px;
            // font-size: 14px;;
            border-radius: 4px;
            background: cornsilk;
            word-break: keep-all;
            box-shadow: $boxShadow;
            @include scrollHidden();
        }
        .clicked { // 클릭시 길이 바꾸는 기능 넣자
            -webkit-line-clamp: 10;
        }
            
        .option-btn {
            cursor: pointer;
            font-size: 24px;
            margin: 0 4px;
            color: $mainColor;
        }
    
}
    .option-modal {
        display: flex;
        align-self: flex-end;
        margin: 4px 24px 0 0;

        span {
            background: $mainColor;
            width: 26px;
            height: 26px;
            color: white;
            text-align: center;
            line-height: 26px;
            border-radius: 26px;
            border: white 2px solid;
            cursor: pointer;
        }
        span:hover {
            transform: scale(1.1);
        }
    }

}

// CSSTransiton 적용 css
.downSlide-enter {
    opacity: 0;
    transform: translate(50%, -30px) scale(0.1, 1);   
}
.downSlide-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 0.2s;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.27,1.08,.48,.92) ;
}

.list-edit-modal-box {
    @include fixedCenter();
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 240px;
    background: $cottenWhite;
    border: 8px  $mainColor solid;
    border-radius: 12px;

    .edit-modal-x {
        position: absolute;
        right: 5%;
        text-align: end;
        cursor: pointer;
    }

    span {
        width: 64px;
        height: 28px;
        margin: 10px 0 4px 24px;
    }

    .edit-modal-hash {
        width: 85%;
        @include modal_border;
    }

    .edit-modal-content {
        width: 85%;
        height: 80px;
        @include modal_border;
    }

    .edit-modal-content::-webkit-scrollbar {
        width: 4px;
    }    
    .edit-modal-content::-webkit-scrollbar-thumb {
        background: $mainColor;
        border-radius: 10px;
    }
    .edit-modal-btn {
        margin: 12px;
        width: 120px;
        background: $mainColor;
        color: white;
        @include modal_border;
        border-width: 4px;
    }
}


// notice, 알림창 (공지)
.notice-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    width: 95%;
    padding: 4px 0;
    // height: 48px;
    left: 2%;
    background: $mainColor;
    opacity: 0.9;
    margin: 6px 4px;
    border-radius: 8px;
    align-items: center;
    
    .notice-memo {
        // background: black;
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        
        .notice-hash {
            @include hashForm;
            flex-grow: 2;
            align-self: flex-start;
            margin: 0 6px;
            height: 24px;
            box-shadow: $boxShadow;
        }

        .notice-content {
            flex-grow: 8;
            padding: 3px;
            border-radius: 4px;
            background: cornsilk;
            word-break: keep-all;
            box-shadow: $boxShadow;
            @include scrollHidden();
        }
    }

    .notice-btn-box {
			align-self: flex-start;
			min-width: 75px;
			margin: 2px;
			cursor: pointer;
			
			.notice-del-btn, .notice-exp-btn  {
				display: inline-block;
				margin: 0 2px;
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				color: $mainColor;
				font-weight: bold;
				background: white;
				border: 2px solid white;
				border-radius: 28px;
			}
    }
}


@media screen and (min-width:768px) {
    .list-memo {
        margin: 0 12px;
    }
}